html, body {
    font-family: 'Nunito Sans', sans-serif;
}

div #mc_embed_signup_scroll label {
    font-family: 'Nunito Sans', sans-serif;
}
#mc_embed_signup .button {
    font-family: 'Nunito Sans', sans-serif !important;
}
#mce-EMAIL {
    font-family: 'Nunito Sans', sans-serif !important;
}

/* swiper */
.swiper-heigth-sm {
    height:415px;
}
.swiper-heigth-tb {
    height:263px;
}
.swiper-heigth-xs {
 
}
/* breadcrumbs */
.breadcrumbs {
    margin: 20px 0;
}
.breadcrumbs-margin-left {
    margin-left: 40px;
}
.breadcrumbs1 {
    font-size: 20px;
    color: black;
}
.breadcrumbs1:hover {
    font-size: 20px;
    color: #777;
}
.breadcrumbs-sep {
    font-size: 20px;
    color: black;
}
.breadcrumbs2 {
    font-size: 20px;
    color: black;
}
.breadcrumbs2:hover {
    font-size: 20px;
    color: #777;
}
.breadcrumbs1-xs {
    font-size: 18px;
    color: black;
}
.breadcrumbs1-xs:hover {
    font-size: 18px;
    color: #777;
}
.breadcrumbs-sep-xs {
    font-size: 18px;
    color: black;
}
.breadcrumbs2-xs {
    font-size: 18px;
    color: black;
}
.breadcrumbs2-xs:hover {
    font-size: 18px;
    color: #777;
}

/* font hand */
.font-hand-title {
    font-family: 'Playfair Display', serif;
    /* text-transform: uppercase; */
    margin: 0 0 20px 0;
}
.font-hand-title-xs {
    font-family: 'Playfair Display', serif;
    /* text-transform: uppercase; */
    
    margin: 0 0 10px 0;
    font-size: 26px;
}
.font-hand-text {
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
}
.font-hand-desc {
    font-family: 'Shadows Into Light', cursive;
}

/* h2 */
.h2-title {
    margin: 0 0 15px 0;
}

/*navbar*/
.navbar-brand {
    height: 120px;
}
.nav-logo {
    height: 90px;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: white;
}
.nav-ul-style-1 {
    font-size: 18px;
}
.nav-ul-style-2 {
    font-size: 18px;
}
.barra-2 {
    width: 63%;
}
.navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
    margin-top: 15px;
}
.navbar-collapse{
    padding: 0;
}
#google_translate_element {
    float: right;
    margin-right: 15px;
    margin-top: 45px;
}

/*font awosome*/
.fa-pencil-square {
    font-size: 25px;
}

/*vertentes */
.vertentes {
    border-radius: 50%;
    background-color: black;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 15px auto;
    position: relative;
}

/*quadrados categorias*/
.categoria-img-style {
    margin: 15px 0;
}
.categoria-margin {
    margin: 35px 0 65px;  
}
.categoria {
    /* border-radius: 10px; */
    border: 1px solid black;
    background-color: black;
    height: 262px;
    text-align: center;
    margin: 15px auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.categoria-xs {
    /* border-radius: 10px; */
    border: 1px solid black;
    background-color: black;
    height: calc(100vw - 30px);
    text-align: center;
    margin: 15px auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.categorias-a {
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
    padding: 5px;
}
.categorias-a:hover {
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
    padding: 5px;
}

/* subgategorias */
.no-class-button {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    float: right;
}
.marca-prev {
    border: 1px solid black;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;    
    height: 360px;
}
.marca-prev-md {
    border: 1px solid black;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: calc(100vw / 2.4);
}
.marca-prev-xs {
    border: 1px solid black;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;    
    height: calc(100vw - 30px);
}
.marca-margin {
    margin: 15px 0;
}
.subcategoria-style {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    position: absolute;
    bottom: 10px;
    left: 25px;
    width: 80%;
}
.subcategoria-style-lett {
    color: white; 
    font-weight: bold; 
    font-size: 16px;
}
.subcategoria-style-lett-2 {
    color: white; 
    font-size: 20px;
    margin-bottom: 0;
}
.marca-detail-top {
    margin-top: 15px;
}
.marca-detail-bottom {
    margin-bottom: 15px;
}

/*brand social symbols */
.brand-symbol {
    font-size: 40px;
    margin-right: 15px;
    color: black;
}
.icon-detail {
    font-size: 22px;
    margin-right: 10px;
}
.icon-detail-place {
    font-size: 29px;
    margin-right: 10px;
}
.icon-detail-mobile {
    font-size: 35px;
    margin-right: 10px;
}
.brand-symbol-reel {
    font-size: 100px;
    color: black;
}
/*footer*/
.footer-style {
    background-color: lightgrey;
    padding: 60px 0;
}
@media (min-width: 768px ) {
    .nav-ul-style-1 {
        margin-top: 30px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .nav-ul-style-1 > li > a {
        padding: 10px;
    }
    .nav-ul-style-1 {
        margin-top: 40px;
    }
    .categoria {
        height: calc(100vw / 5);
    }
    .marca-prev-md {
        height: calc(100vw / 3.5);
    }
    .swiper-heigth-sm {
        height:100%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .nav-ul-style-1 {
        margin-top: 40px;
        font-size: 16px;
    }
    .nav-ul-style-1 > li > a {
        padding: 5px;
    }
    .barra-2 {
        width: 64%;
    }
    .categoria {
        height: calc(100vw / 5);
    }
}
@media (max-width: 767px ) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -105px !important;
        height: 120px;
    }
    .navbar-header {
        height: 120px;
    }
    .navbar-collapse{
        padding: 0 0 0 15px ;
    }
}
@media (max-width: 767px ) and (orientation: landscape) {
    .swiper-heigth-xs {
        height: 305px;
    }
    .navbar-collapse{
        padding: 0 0 0 15px ;
    }
    
}