<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>...</p>
    </div>
</div>
<div class="container">
    <div class="categoria-margin">
        <div class="row">
            <h2 class="text-center font-hand">O que é nacional tem qualidade... e nós valorizamos!</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="eventos"><img src="./images/eventos.png" class="categoria-img-style"></a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/marcas"><img src="./images/marcas.png" class="categoria-img-style"></a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/turismo"><img src="./images/turismo.png" class="categoria-img-style"></a>
            </div>
        </div>
    </div>  
</div>
