<div class="container">
	<h2 class="font-hand-title text-center" style="margin-top: 20px;">QUEM SOMOS</h2>
    <div class="row">
		<div class="col-sm-6">
			<p>
				O 'made in Portugal' veio para ficar. E com muita qualidade! Todo o tipo de produtos portugueses pensados, produzidos e confecionados ao pormenor, vendidos online, e não só, por pessoas criativas, que, inspiradas por uma ideia, tiveram a coragem de transformar um conceito em realidade... em todos os cantinhos do país! É isto que o De Portugal com Amor quer divulgar... dentro do país e além-fronteiras.
			</p>
		</div>
		<div class="col-sm-6">
			<p>
				Contudo, o De Portugal com Amor não é apenas uma plataforma de marcas online portuguesas. Quer organizar um evento e não sabe a quem pedir ajuda? Não encontra o fotógrafo ideal para aquela festa que está a chegar, ou para sessões fotográficas especiais? E aquele bolo de sonho? Nós ajudamo-lo a encontrar o que pretende com a nossa vertente dedicada a Eventos.
			</p>
		</div>
		<div class="col-sm-12" style="margin: 30px 0;">
			<p>
				Somos três amigos e colegas da área de comunicação e pretendemos reunir o que de melhor se faz em Portugal, de norte a sul e ilhas. 
			</p>
			<p>
				Pretendemos que se torne um site de referência a nível nacional e também internacional. Se o conseguirmos fazer, as marcas portuguesas terão a visibilidade que merecem!
			</p>
		</div>
	</div>
</div>