<div class="container">
    <p>
        O 'made in Portugal' veio para ficar. E com muita qualidade!			
        Todo o tipo de produtos portugueses pensados, produzidos e confecionados ao pormenor, vendidos online, e em feiras e mercados, por pessoas criativas, que, inspiradas por uma ideia, tiveram a coragem de transformar um conceito em realidade... em todos os cantinhos do país!			
        É isto que o De Portugal com Amor quer divulgar... dentro do país e além fronteiras.			
        Quer organizar um evento e não sabe a quem pedir ajuda? Não encontra o fotógrafo ideal para aquela festa que está a chegar? Nós ajudamo-lo a encontrar o que pretende!			
        
</p>
<p>
        ‘Made in Portugal' is here to stay. And with so much quality! 			
        Such variety of Portuguese products thought and created with detail, sold online and in fairs and markets by creative people who, inspired by an idea, had the courage to turn a concept into reality... in every corner of the country! This is what our website wants to divulge ... both within the country and beyond borders. Because Portugal is definitely in fashion!			
        However, De Portugal com Amor - From Portugal with Love is not just a platform for online Portuguese brands. 			
        Do you want to organize an event and do not know whom to ask for help? Cannot find the ideal photographer for that party? And that dream cake? We help you find what you need!			
        
</p>
</div>