<div class="container-fluid" style="padding: 0;">
    <div class="container">
        <div class="breadcrumbs">
            <div class="row">
                <div class="col-sm-12 visible-xs">
                    <a class="breadcrumbs1-xs" href="/">Início</a><span class="breadcrumbs-sep-xs"> / </span><a class="breadcrumbs2-xs" href="/eventos">Eventos</a>
                </div>
                <div class="col-sm-12 hidden-xs">
                    <a class="breadcrumbs1" href="/">Início</a><span class="breadcrumbs-sep"> / </span><a class="breadcrumbs2" href="/eventos">Eventos</a>
                </div>
            </div>
        </div>
        <div class="categoria-margin">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center h2-title hidden-xs">Eventos</h2>
                </div>
                <div class="col-sm-12">
                    <h2 class="text-center font-hand-title hidden-xs">Pare de sonhar... realize!</h2>
                    <h2 class="text-center font-hand-title-xs visible-xs">Pare de sonhar... realize!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <a href="eventos/empresas-de-organizaçao-de-eventos">
                        <div class="categoria" style="background-image: url('images/organizacao.jpg')">
                            <p class="categorias-a">Empresas de Organização de Eventos</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="eventos/empresas-de-organizaçao-de-eventos">
                        <div class="categoria-xs" style="background-image: url('images/organizacao.jpg')">
                            <p class="categorias-a">Empresas de Organização de Eventos</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="eventos/bolos-e-pastelaria">
                        <div class="categoria" style="background-image: url('images/bolos.jpg')">
                            <p class="categorias-a">Bolos e Pastelaria</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="eventos/bolos-e-pastelaria">
                        <div class="categoria-xs" style="background-image: url('images/bolos.jpg')">
                            <p class="categorias-a">Bolos e Pastelaria</P>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="eventos/servico-de-fotografia-e-video">
                        <div class="categoria" style="background-image: url('images/fotografia.jpg')">
                            <p class="categorias-a">Serviço de Fotografia e Vídeo</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="eventos/servico-de-fotografia-e-video">
                        <div class="categoria-xs" style="background-image: url('images/fotografia.jpg')">
                            <p class="categorias-a">Serviço de Fotografia e Vídeo</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="eventos/sempre-em-festa">
                        <div class="categoria" style="background-image: url('images/festa.jpg')">
                            <p class="categorias-a">Sempre em Festa (casamentos, batizados e muitos artigos)</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="eventos/sempre-em-festa">
                        <div class="categoria-xs" style="background-image: url('images/festa.jpg')">
                            <p class="categorias-a">Sempre em Festa (casamentos, batizados e muitos artigos)</p>
                        </div>
                    </a>
                </div>
            </div> 
        </div>
    </div>
</div>