<div class="container">
    <div class="categoria-margin">
        <div class="row">
            <h2 class="text-center font-hand">Eventos</h2>
            <h2 class="text-center font-hand">Pare de sonhar... realize!</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="categoria">
                    <a href="">Empresas de Organização de Eventos</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <a href="">Bolos e Pastelaria</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <a href="">Serviço de Fotografia e Vídeo</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <a href="">Sempre em Festa (casamentos, batizados e muitos artigos)</a>
                </div>
            </div>
        </div>
    </div>    
</div>