<div class="container-fluid" style="padding: 0;">
    <div class="container">
        <div class="breadcrumbs">
            <div class="row">
                <div class="col-sm-12 visible-xs">
                    <a class="breadcrumbs1-xs" href="/">Início</a><span class="breadcrumbs-sep-xs"> / </span><a class="breadcrumbs2-xs" href="/gastronomia">Gastronomia</a>
                </div>
                <div class="col-sm-12 hidden-xs">
                    <a class="breadcrumbs1" href="/">Início</a><span class="breadcrumbs-sep"> / </span><a class="breadcrumbs2" href="/gastronomia">Gastronomia</a>
                </div>
            </div>
        </div>
        <div class="categoria-margin">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center h2-title hidden-xs">Gastronomia</h2>
                </div>
                <div class="col-sm-12">
                    <h2 class="text-center font-hand-title hidden-xs">Seja feliz! Compre o que é nosso!</h2>
                    <h2 class="text-center font-hand-title-xs visible-xs">Seja feliz! Compre o que é nosso!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <a href="gastronomia/aperitivos">
                        <div class="categoria" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">aperitivos doces e salgados</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="gastronomia/aperitivos">
                        <div class="categoria-xs" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">aperitivos doces e salgados</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="gastronomia/chas-e-infusoes">
                        <div class="categoria" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">chás e infusões</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="gastronomia/chas-e-infusoes">
                        <div class="categoria-xs" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">chás e infusões</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="gastronomia/chocolate-e-doces">
                        <div class="categoria" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">Chocolates, doces e compotas</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="gastronomia/chocolate-e-doces">
                        <div class="categoria-xs" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">Chocolates, doces e compotas</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-sm-3 hidden-xs">
                    <a href="gastronomia/especiarias-e-temperos">
                        <div class="categoria" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">especiarias e outros temperos</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="gastronomia/especiarias-e-temperos">
                        <div class="categoria-xs" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">especiarias e outros temperos</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="gastronomia/pates-e-conservas">
                        <div class="categoria" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">patés e conservas</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="gastronomia/pates-e-conservas">
                        <div class="categoria-xs" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">patés e conservas</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="gastronomia/queijos-e-enchidos">
                        <div class="categoria" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">queijos e enchidos</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="gastronomia/queijos-e-enchidos">
                        <div class="categoria-xs" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">queijos e enchidos</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="gastronomia/pates-e-conservas">
                        <div class="categoria" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">vinhos e licores</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="gastronomia/pates-e-conservas">
                        <div class="categoria-xs" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">vinhos e licores</p>
                        </div>
                    </a>
                </div>
                
            </div> 
        </div>
    </div>
</div>