<div class="container">
    <div class="categoria-margin">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>Marcas Tipicamente Portuguesas</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="categoria">
                    <a href="/joias-acessorios-malas">Joias, Acessórios e Malas</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <p>Bebé e Criança</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <p>Vestuário e Calçado</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <p>Animais</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <p>Ideias Únicas</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <p>Tipicamente Português</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <p>Artesanato</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="categoria">
                    <p>Decoração</p>
                </div>
            </div>
        </div> 
    </div>
</div>