<div class="container-fluid back-marcas" style="padding: 0;">
    <div class="container">
        <div class="breadcrumbs">
            <div class="row">
                <div class="col-sm-12 visible-xs">
                    <a class="breadcrumbs1" href="/">Início</a><span class="breadcrumbs-sep"> / </span><a class="breadcrumbs2" href="/marcas">Marcas</a>
                </div>
                <div class="col-sm-12 hidden-xs">
                    <a class="breadcrumbs1 breadcrumbs-margin-left" href="/">Início</a><span class="breadcrumbs-sep"> / </span><a class="breadcrumbs2" href="/marcas">Marcas</a>
                </div>
            </div>
        </div>
        <div class="categoria-margin">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center h2-title hidden-xs">Marcas Tipicamente Portuguesas</h2>
                    <h2 class="text-center h2-title visible-xs">Marcas Tipicamente Portuguesas</h2>
                </div>
                <div class="col-sm-12">
                    <h2 class="text-center font-hand-title hidden-xs">Seja feliz, compre o que é nosso!</h2>
                    <h2 class="text-center font-hand-title-xs visible-xs">Seja feliz, compre o que é nosso!</h2>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-sm-3 hidden-xs">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">Joias, Acessórios e Malas</a>
                    </div>
                </div> -->
                <div class="col-sm-3">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">Joias, Acessórios e Malas</a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 visible-xs">
                    <div class="categoria-xs">
                        <a class="categorias-a-xs" href="marcas/joias-acessorios-malas">Joias, Acessórios e Malas</a>
                    </div>
                </div> -->

                <div class="col-sm-3">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">Bebé e Criança</a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 visible-xs">
                    <div class="categoria-xs">
                        <a class="categorias-a-xs" href="marcas/joias-acessorios-malas">Bebé e Criança</a>
                    </div>
                </div> -->

                <div class="col-sm-3">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">vestuário e calçado</a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 visible-xs">
                    <div class="categoria-xs">
                        <a class="categorias-a-xs" href="marcas/joias-acessorios-malas">vestuário e calçado</a>
                    </div>
                </div> -->

                <div class="col-sm-3">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">animais</a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 visible-xs">
                    <div class="categoria-xs">
                        <a class="categorias-a-xs" href="marcas/joias-acessorios-malas">animais</a>
                    </div>
                </div> -->

                <div class="col-sm-3">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">ideias únicas</a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 visible-xs">
                    <div class="categoria-xs">
                        <a class="categorias-a-xs" href="marcas/joias-acessorios-malas">ideias únicas</a>
                    </div>
                </div> -->

                <div class="col-sm-3">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">tipicamente portugês</a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 visible-xs">
                    <div class="categoria-xs">
                        <a class="categorias-a-xs" href="marcas/joias-acessorios-malas">tipicamente portugês</a>
                    </div>
                </div> -->

                <div class="col-sm-3">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">artesanato</a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 visible-xs">
                    <div class="categoria-xs">
                        <a class="categorias-a-xs" href="marcas/joias-acessorios-malas">artesanato</a>
                    </div>
                </div> -->
                    
                <div class="col-sm-3">
                    <div class="categoria">
                        <a class="categorias-a" href="marcas/joias-acessorios-malas">decoração</a>
                    </div>
                </div>
                <!-- <div class="col-xs-6 visible-xs">
                    <div class="categoria-xs">
                        <a class="categorias-a-xs" href="marcas/joias-acessorios-malas">decoração</a>
                    </div>
                </div>   -->  
            </div> 
        </div>
    </div>
</div>