<div class="container-fluid" style="padding: 0;">
    <div class="container">
        <div class="breadcrumbs">
            <div class="row">
                <div class="col-sm-12 visible-xs">
                    <a class="breadcrumbs1-xs" href="/">Início</a><span class="breadcrumbs-sep-xs"> / </span><a class="breadcrumbs2-xs" href="/marcas">Marcas Portuguesas Online</a>
                </div>
                <div class="col-sm-12 hidden-xs">
                    <a class="breadcrumbs1" href="/">Início</a><span class="breadcrumbs-sep"> / </span><a class="breadcrumbs2" href="/marcas">Marcas Portuguesas Online</a>
                </div>
            </div>
        </div>
        <div class="categoria-margin">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center h2-title hidden-xs">Marcas Portuguesas Online</h2>
                    <!--<h2 class="text-center h2-title visible-xs">Marcas Portuguesas Online</h2>-->
                </div>
                <div class="col-sm-12">
                    <h2 class="text-center font-hand-title hidden-xs">Seja feliz, compre o que é nosso!</h2>
                    <h2 class="text-center font-hand-title-xs visible-xs">Seja feliz, compre o que é nosso!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <a href="marcas/joias-acessorios-malas">
                        <div class="categoria" style="background-image: url('images/joias.jpg')">
                            <p class="categorias-a">Joias, Acessórios e Malas</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="marcas/joias-acessorios-malas">
                        <div class="categoria-xs" style="background-image: url('images/joias.jpg')">
                            <p class="categorias-a">Joias, Acessórios e Malas</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="marcas/bebe-e-crianca">
                        <div class="categoria" style="background-image: url('images/bebe.jpg')">
                            <p class="categorias-a" >Bebé e Criança</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="marcas/bebe-e-crianca">
                        <div class="categoria-xs" style="background-image: url('images/bebe.jpg')">
                            <p class="categorias-a">Bebé e Criança</P>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="marcas/vestuario-e-calcado">
                        <div class="categoria" style="background-image: url('images/vestuario.jpg')">
                            <p class="categorias-a">vestuário e calçado</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="marcas/vestuario-e-calcado">
                        <div class="categoria-xs" style="background-image: url('images/vestuario.jpg')">
                            <p class="categorias-a">vestuário e calçado</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="marcas/animais">
                        <div class="categoria" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">animais</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="marcas/animais">
                        <div class="categoria-xs" style="background-image: url('images/animais.jpg')">
                            <p class="categorias-a">animais</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="marcas/ideias-unicas">
                        <div class="categoria" style="background-image: url('images/ideias.jpg')">
                            <p class="categorias-a">ideias únicas</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="marcas/ideias-unicas">
                        <div class="categoria-xs" style="background-image: url('images/ideias.jpg')">
                            <p class="categorias-a">ideias únicas</p>
                        </div>
                    </a>
                </div>

                <div class="col-sm-3 hidden-xs">
                    <a href="marcas/tipicamente-portugues">
                        <div class="categoria" style="background-image: url('images/tipicamente.jpg')">
                            <p class="categorias-a">tipicamente português</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="marcas/tipicamente-portugues">
                        <div class="categoria-xs" style="background-image: url('images/tipicamente.jpg')">
                            <p class="categorias-a">tipicamente português</p>
                        </div>
                    </a>
                </div>
                
                <div class="col-sm-3 hidden-xs">
                    <a href="marcas/artesanato">
                        <div class="categoria" style="background-image: url('images/artesanato.jpg')">
                            <p class="categorias-a">artesanato</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="marcas/artesanato">
                        <div class="categoria-xs" style="background-image: url('images/artesanato.jpg')">
                            <p class="categorias-a">artesanato</p>
                        </div>
                    </a>
                </div>
                    
                <div class="col-sm-3 hidden-xs">
                    <a href="marcas/decoracao">
                        <div class="categoria" style="background-image: url('images/decoracao.jpg')">
                            <p class="categorias-a">decoração</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3 visible-xs">
                    <a href="marcas/decoracao">
                        <div class="categoria-xs" style="background-image: url('images/decoracao.jpg')">
                            <p class="categorias-a">decoração</p>
                        </div>
                    </a>
                </div>  
            </div> 
        </div>
    </div>
</div>