<div class="container">
    <h2 class="font-hand-title text-center" style="margin-top: 20px;">Fale Connosco</h2>
    <div class="row">
        <div class="col-sm-12 text-center" style="margin: 30px 0;">
            <p>
                Somos muito mais do que uma plataforma que pretende promover marcas e empresas nacionais.
            </p>
            <p>
                Queremos ser a ajuda necessária para qualquer pessoa em qualquer lugar.
            </p>
            <p>
                Procura um presente original para alguém especial? Ou um produto em específico? 
            </p>
            <p>
                Fale connosco! Nós ajudamos a encontrar as marcas através da nossa magnífica base de dados.
            </p>
            <p>
                Temos centenas de marcas ao seu dispor, mas nós podemos fazer o filtro que precisa...    
            </p>
            <p>
                Pretendemos que se torne um site de referência a nível nacional e também internacional. 
            </p>
            <p style="margin-top: 20px; font-size: 22px; font-weight: bold;">
                Se o conseguirmos fazer, as marcas portuguesas terão a visibilidade que merecem!
            </p>
        </div>
    </div>
</div>