<div class="container">
    <div class="hidden-sm hidden-xs">
        <ks-swiper-container loop="true" autoplay="5000">
            <ks-swiper-slide class="swiper-slide swiper-heigth-sm">
                <a href="https://m.facebook.com/story.php?story_fbid=324381514736182&id=285768038597530" target="_blank"><img style="width:100%; margin-top: 1px;" src="/images/destaques/PortHoriz-1-big.png"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-sm">
                <a href="/destaque-2"><img style="width:100%; margin-top: 1px;" src="/images/destaques/nuvem-2-big.jpg"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-sm">
                <a href="/destaque-3"><img style="width:100%; margin-top: 1px;" src="/images/destaques/bymom-3-big.jpg"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-sm">
                <a href="/destaque-4"><img style="width:100%; margin-top: 1px;" src="/images/destaques/pomar-4-big.jpg"></a>
            </ks-swiper-slide>
        </ks-swiper-container>
    </div>
    <div class="visible-sm">
        <ks-swiper-container loop="true" autoplay="5000">
            <ks-swiper-slide class="swiper-slide swiper-heigth-tb">
                <a href="https://m.facebook.com/story.php?story_fbid=324381514736182&id=285768038597530" target="_blank"><img style="width:100%; margin-top: 1px;" src="/images/destaques/PortHoriz-1-big.png"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-tb">
                <a href="/destaque-2"><img style="width:100%; margin-top: 1px;" src="/images/destaques/nuvem-2-big.jpg"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-tb">
                <a href="/destaque-3"><img style="width:100%; margin-top: 1px;" src="/images/destaques/bymom-3-big.jpg"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-tb">
                <a href="/destaque-4"><img style="width:100%; margin-top: 1px;" src="/images/destaques/pomar-4-big.jpg"></a>
            </ks-swiper-slide>
        </ks-swiper-container>
    </div>
    <div class="visible-xs">
        <ks-swiper-container loop="true" autoplay="5000">
            <ks-swiper-slide class="swiper-slide swiper-heigth-xs">
                <a href="https://m.facebook.com/story.php?story_fbid=324381514736182&id=285768038597530" target="_blank"><img style="width:100%; margin-top: 1px;" src="/images/destaques/PortHoriz-1-mobile.png"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-xs">
                <a href="/destaque-2"><img style="width:100%; margin-top: 1px;" src="/images/destaques/nuvem-2-mobile.jpg"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-xs">
                <a href="/destaque-3"><img style="width:100%; margin-top: 1px;;" src="/images/destaques/bymom-3-mobile.jpg"></a>
            </ks-swiper-slide>
            <ks-swiper-slide class="swiper-slide swiper-heigth-xs">
                <a href="/destaque-4"><img style="width:100%; margin-top: 1px;" src="/images/destaques/pomar-4-mobile.jpg"></a>
            </ks-swiper-slide>
        </ks-swiper-container>
    </div>
    <div class="categoria-margin">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center font-hand-title hidden-xs">O que é nacional tem qualidade... e nós valorizamos!</h2>
                <h2 class="text-center font-hand-title-xs visible-xs">O que é nacional tem qualidade... e nós valorizamos!</h2>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-4 text-center">
                <a href="eventos"><img src="./images/eventos.png" class="categoria-img-style"></a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/marcas"><img src="./images/marcas.png" class="categoria-img-style"></a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="/turismo"><img src="./images/turismo.png" class="categoria-img-style"></a>
            </div> -->
            <div class="col-sm-3">
                <a href="/eventos">
                    <div class="vertentes" style="background-image: url('images/eventos.jpg')">
                        <p class="categorias-a">Eventos</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="/marcas">
                    <div class="vertentes" style="background-image: url('images/marcas.jpg')">
                        <p class="categorias-a">Marcas Portuguesas Online</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="/gastronomia">
                    <div class="vertentes" style="background-image: url('images/gastronomia.jpg')">
                        <p class="categorias-a">Gastronomia</p>
                    </div>
                </a>    
            </div>
            <div class="col-sm-3">
                <a href="/turismo">
                    <div class="vertentes" style="background-image: url('images/turismo.jpg')">
                        <p class="categorias-a">Turismo</p>
                    </div>
                </a>    
            </div>
        </div>
    </div>  
</div>
